body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(32, 32, 50);
    text-align: center;
    color: white;
}

.square {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
}

.o {
    position: relative;
}

.o::after {
    content: "\1F4C0";
    line-height: 100px;
    position: absolute;
    font-size: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x {
    position: relative;
}

.x::after {
    content: "\1F3B8";
    line-height: 100px;
    position: absolute;
    font-size: 62px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container-btn {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: calc(30% - 100px);
    height: 6rem;
}

.restart-btn {
    text-align: center;
    font-weight: bold;
    width: 7rem;
    height: 3rem;
    background-color: aqua;
    border: none;
    border-radius: 2px 2px;
}
